.basic01 {
    padding: 30px 0;
    background:rgb(255, 225, 170);
    text-align: center;
}

.basic01 h2 {
    font-size: 40px;
    color: rgb(41, 99, 137);
    font-weight: bold;
    margin: 0 0 30px 0;
}

.basic01 p {
    font-size: 15px;
    margin: 0 0 30px 0;
}

.basic01 .container {
    display: flex;
    gap: 30px;
    /* width: 1200px; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.basic01 .container img {
    width: 100%;
}

.basic01 figure {
    flex: 1;
}