html { 
    font-size: 10px; 
} 
/* 반응형 도입용 rem 을 사용하기 위해 설정하였음. 1.6rem = 16px */
body { 
    font-size: 1.6rem; 
} 
/* 규칙 position, display를 앞에 */
.Wrapper { } 

/* Header START */
.container {
     display: flex; 
    width: 120rem; 
    margin: 0 auto; 
} 
/* TopBanner Start */
.TopBanner {
     background: #f8f8f9; 
    padding: 3rem 0 3rem 0; 
} 
.TopBanner .container { 
    position: relative; display: block; 
} 
.TopBanner h2 {
     font-size: 2.5rem; 
    font-weight: 700; margin: 0 0 1rem 0;
 } 
.TopBanner p {
     font-size: 1.3rem; 
} 
.TopBanner a {
     display: inline-block; 
    border: 1px solid #333; 
    padding: 2px 2rem 5px 2rem; 
    transform: translateY(-2px); margin: 0 0 0 2rem;
 } 
.TopBanner i {
     position: absolute; 
    top: 0;
     right: 0;
 } 

/* 반응형 시작 */
@media (max-width: 1000px){
 .container { 
    display: flex; 
    flex-direction: column; 
    width: auto; 
    margin: 0 auto; 
} 
 /* 가로로 플렉스 돼 있는걸 세로로 세우기 위해 flex-direction: column; width: auto; */ 
 /* TopBanner Start */
 .TopBanner { 
    position: absolute; 
    top: 50%; left: 1.5rem; 
    right: 1.5rem; 
    transform: translateY(-50%); 
    background: #f8f8f9; 
    padding: 3rem 0 3rem 0; 
} 
 .TopBanner .container { 
    position: static; 
    display: block; 
    padding: 0 2rem 0 2rem; 
} 
 .TopBanner h2 { 
    font-size: 2.5rem;
     font-weight: 700; 
     margin: 0 0 1rem 0; 
    } 
 .TopBanner p { 
    font-size: 1.3rem; 
    line-height: 1.4; 
} 
 .TopBanner a { 
    display: block;
    border: 1px solid #333; 
    padding: 2px 2rem 5px 2rem; 
    transform: translateY(0); 
    margin: 2rem 0 0 0; 
} 
 .TopBanner i {
     position: absolute; 
     top: 0; 
     right: 0; 
     padding: 5px; 
     background: #333; 
     color: #fff; 
    } 
 }

 /* 다중 팝업 START */
 .pop {
     position: absolute; 
     top: 50%; 
     left: 50%; 
     transform: translate(-50%,-50%); 
     width: 400px; height: 500px; 
     background: rgba(255, 0, 0, 0.1); 
    } 
 .pop button {
    position: absolute; 
    bottom: 10px; 
    right: 10px;}
 .pop:nth-of-type(2) {
     top: 40%; left:40%; 
} 
 .pop:nth-of-type(3) {
     top: 30%; left:30%; 
} 
 .pop:nth-of-type(4) {
     top: 20%; left:20%; 
} 
 .pop:nth-of-type(5) {
     top: 10%; left:10%; 
} 