img{
    max-width: 100%;
}

.visual_slider figure{
    height: 600px;
}

.visual_slider .itm01{
    background: url(../img/mainvisual01.jpg) no-repeat center center / cover;
}

.visual_slider .itm02{
    background: url(../img/mainvisual02.jpg) no-repeat center center / cover;
}

.visual_slider .itm03{
    background: url(../img/mainvisual03.jpg) no-repeat center center / cover;
}

.main {
    position: relative;
}

.main .slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    color: #fff;
    text-shadow:  0 0 3px #000 ;
}

.main .slogan h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.main .slogan p{
    font-size: 15px;
    letter-spacing: 1.25;
}

.main .slick-dots{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.main .slick-dots li{
    display: inline-block;
    width: 100px;
    height: 6px;
    background: #333;
    margin: 0 2px;
}

.main .slick-dots li::after{
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background: #dc3545;
}


.main .slick-dots li.slick-active::after{
    width: 100%;
    transition: 3s;
}

.main .slick-dots li button{
    display: none;
}

.main .slick-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    font-size: 0;
    border: none;
    background: transparent;

    width: 130px;
    height: 130px;
    border-top: 1px solid #fff;
    border-left:1px solid #fff;
    opacity: 0.3;
}
.main .slick-arrow:hover{
    opacity: 1;
}
/* 
.main .slick-arrow.slick-prev(O)
.main .slick-arrow .slick-prev(X)
 */

.main .slick-prev{
    /* left: 100px; */
    margin-left : -700px ;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.main .slick-next{
    /* left: auto;
    right: 100px; */
    margin-left : 700px; 
    transform:translate(-50%,-50%) rotate(135deg);
}

.main .wheel{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 55px;
    border: 2px solid #fff;
    border-radius: 15px;
    font-size: 0;
}
.main .wheel span{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 12px;
    background:#fff;
    border-radius: 1px;
    animation:  wheel 0.5s infinite ;

}

@keyframes wheel{
    0%{
        top: 10px;
    }
    50%{
        top: 15px;
    }
    100%{
        top: 10px;
    } 
}