/* *{
    outline: 1px solid #f00;
}  */

p{
    line-height: 1.45;
}

.container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body{
    letter-spacing: -0.025;
}

.Wrap{
    position: relative;
}

#Header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 40px;
    display: flex;
    min-width: 1900px;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
    color: #fff;
    line-height: 77px; 
    transition: 0.5s;
    z-index: 9999; 
}

#Header.on{
    color: #fff;
    background: rgb(0,0,0,1);
}

#Header .Gnb ul{
    display: flex;
    font-size: 17px;
    gap: 30px;   
}

#Header .tel{
    width: 300px;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
}


#Header .tel i{
    border:  2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-size: 13px;
    border-radius: 50%;
    transform: translateY(-5px);
    margin-right: 10px;
}

main{
    position: relative;
    z-index: 1;
}

/* .screvent{
    height: 200vh;
} */

#MainVisual{
    position: relative;
}

#MainVisual .slogan{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    z-index: 999;
    text-shadow: 0 0 2px #000;
}

#MainVisual .slogan strong{
    display: block;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}
#MainVisual .slogan h2{
    margin-bottom: 30px;
    font-size: 75px;
    font-weight: 700;
}
#MainVisual .slogan p{
    font-size: 15px;
}

#MainVisual .MainSlider figure{
    height:100vh;
    background: #f00;

}

#MainVisual .MainSlider .itm01{
    background: url(../img/bg_intro01.jpg)no-repeat center center / cover;
}
#MainVisual .MainSlider .itm02{
    background: url(../img/bg_intro02.jpg)no-repeat center center / cover;
}
#MainVisual .MainSlider .itm03{
    background: url(../img/bg_intro03.jpg)no-repeat center center / cover;
}

#MainVisual .swiper-pagination {
    bottom: 100px;
}

#MainVisual .swiper-pagination span{
    width: 100px;
    height: 4px;
    border-radius: 2px;
    font-variant: #333;
    opacity: 1;
}

#MainVisual .swiper-pagination span.swiper-pagination-bullet-active{
    background: rgb(26, 228, 255);
}

#Premium{
    padding: 100px 0;
    text-align: center;
}

#Premium strong{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
#Premium h2{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
    color: burlywood;
}

#Premium h3{
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 500;
}
#Premium .container{
    flex-wrap: wrap;
    gap: 30px;
}

#Premium .container figure{
    position: relative;
    width: calc(50% - 15px);
}

#Premium .container figure::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 0;
    /* border-top: 20px solid #dc021e;
    border-bottom: 20px solid #dc021e;
    border-left: 20px solid #dc021e;
    border-right: 20px solid transparent; */
    border-width: 20px;
    border-style: solid;
    border-color: #dc021e transparent #dc021e #dc021e; 
    top: 10px;
    left: -20px;
    z-index: 999;
}
#Premium .container figure::after{
    content: attr(data-title);
    position: absolute;
    top: 23px;
    left: 3px;
    z-index: 999;
    color: #fff;
    z-index: 999;
}
#Premium .container .box{
    overflow: hidden;
    margin-bottom: 20px;
}

#Premium .container .box img{
    transition: 0.5s;
    
}
#Premium .container .box:hover img{
    transform: scale(1.2);
}

#Premium  figure:nth-child(1){
    transform: translate(-50px,0);
    opacity: 0;
    transition: 0.5s;
}
#Premium.on  figure:nth-child(1){
    transform: translate(0,0);
    opacity: 1;    
    transition: 0.3s;
}

#Premium  figure:nth-child(2){
    transform: translate(0,-50px);
    opacity: 0;
    transition: 0.5s;
}
#Premium.on  figure:nth-child(2){
    transform: translate(0,0);
    opacity: 1;    
    transition: 0.3s 0.3s;
}
#Premium  figure:nth-child(3){
    transform: translate(0,50px);
    opacity: 0;
    transition: 0.5s;
}
#Premium.on  figure:nth-child(3){
    transform: translate(0,0);
    opacity: 1;    
    transition: 0.3s 0.9s;
}

#Premium  figure:nth-child(4){
    transform: translate(50px,0);
    opacity: 0;
    transition: 0.5s;
}
#Premium.on  figure:nth-child(4){
    transform: translate(0,0);
    opacity: 1;    
    transition: 0.3s 0.6s;
}
#Customer{
    padding: 100px 0 400px 0;
    background: url(../img/bg_main2.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}

#Customer h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.2;
}

#Customer h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
}
#Customer p {
    font-size: 14px;
}

#Customer .container {
    gap: 30px;
}

#Customer .container>div {
    position: relative;
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#Customer .container>div a::after {
    content: "\e907";
    font-family: xeicon !important;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 20px;
    border: 3px solid #deb887;
    background: #fff;
    color: #333;
    border-radius: 50%;
    transition: 0.5s;
}

#Customer .container>div:hover a::after {
    content: "\e905";
    border: 3px solid #deb887;
    background: #deb887;
    color: #fff;
    border-radius: 5px;
}

#Customer .container a {
    display: block;
    padding: 100px 30px;
}

#Footer{
    padding: 60px 0;
    text-align: center;
    font-size: 13px;
    line-height: 1.45;
}

#Footer ul>li{
    display: inline-block;
}

#Footer address{
    font-style: normal;
    display: inline-block;
}

#Footer ul>li~li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ddd;
    margin: 0 15px;
}

.to_top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px;
    background: #333;
    color:#fff;
    font-size: 20;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on{
    visibility: visible;
    opacity: 1;
}

.mopen{
    display: none;
}





























@media (max-width : 768px){   

    p{
        line-height: 1.45;
    }

    .container{
        display: flex;
        /* max-width: 1200px;
        width: 100%; */
        width: auto;
        margin: 0 auto;
        padding: 0 15px; /* 양쪽 여백 생기게 하려고 */
    }
    body{
        letter-spacing: -0.025;
    }

    .Wrap{
        position: relative;
        overflow-x: hidden;
    }

    #Header{
        position: fixed;
        left: -100%;
        right: 0;
        top: 0;
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;    
        min-width: 320px;
        background: rgba(0,0,0,1);
        color: #fff;
        line-height: 40px; 
        transition: 0.5s;
        z-index: 9999; 
    }

    #Header.on{
        color: #fff;
        background: rgb(0,0,0,1);
    }

    #Header.ox{
        left: 0;
    }

    #Header .Gnb {
        margin-top: 50px;
    }

    #Header .Gnb ul{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #Header h1{
        position: fixed;
        top: 10px;
        left: 30px;
        width: 300px;
    }

    #Header .tel{
        width: 300px;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
        margin-top: auto;
        margin-bottom: 100px;
    }


    #Header .tel i{
        border:  2px solid rgba(255, 255, 255, 0.5);
        padding: 10px;
        font-size: 13px;
        border-radius: 50%;
        transform: translateY(-5px);
        margin-right: 10px;
    }

    main{
        position: relative;
        z-index: 1;
    }

    /* .screvent{
        height: 200vh;
    } */

    #MainVisual{
        position: relative;
    }

    #MainVisual .slogan{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
        z-index: 999;
        text-shadow: 0 0 2px #000;
    }

    #MainVisual .slogan strong{
        display: block;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 700;
    }
    #MainVisual .slogan h2{
        margin-bottom: 30px;
        font-size: 75px;
        font-weight: 700;
    }
    #MainVisual .slogan p{
        font-size: 15px;
    }

    #MainVisual .MainSlider figure{
        height:100vh;
        background: #f00;

    }

    #MainVisual .MainSlider .itm01{
        background: url(../img/bg_intro01.jpg)no-repeat center center / cover;
    }
    #MainVisual .MainSlider .itm02{
        background: url(../img/bg_intro02.jpg)no-repeat center center / cover;
    }
    #MainVisual .MainSlider .itm03{
        background: url(../img/bg_intro03.jpg)no-repeat center center / cover;
    }

    #MainVisual .swiper-pagination {
        bottom: 100px;
    }

    #MainVisual .swiper-pagination span{
        width: 100px;
        height: 4px;
        border-radius: 2px;
        font-variant: #333;
        opacity: 1;
    }

    #MainVisual .swiper-pagination span.swiper-pagination-bullet-active{
        background: rgb(26, 228, 255);
    }

    #Premium{
        padding: 100px 0;
        text-align: center;
    }

    #Premium strong{
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
    }
    #Premium h2{
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 500;
        color: burlywood;
    }

    #Premium h3{
        margin-bottom: 30px;
        font-size: 23px;
        font-weight: 500;
    }
    #Premium .container{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }

    #Premium .container figure{
        position: relative;
        width: 100%;
    }

    #Premium .container figure::before{
        content: "";
        position: absolute;
        width: 150px;
        height: 0;
        /* border-top: 20px solid #dc021e;
        border-bottom: 20px solid #dc021e;
        border-left: 20px solid #dc021e;
        border-right: 20px solid transparent; */
        border-width: 20px;
        border-style: solid;
        border-color: #dc021e transparent #dc021e #dc021e; 
        top: 10px;
        left: -20px;
        z-index: 999;
    }
    #Premium .container figure::after{
        content: attr(data-title);
        position: absolute;
        top: 23px;
        left: 3px;
        z-index: 999;
        color: #fff;
        z-index: 999;
    }
    #Premium .container .box{
        overflow: hidden;
        margin-bottom: 20px;
    }

    #Premium .container .box img{
        transition: 0.5s;
        
    }
    #Premium .container .box:hover img{
        transform: scale(1.2);
    }

    #Premium  figure:nth-child(1){
        transform: translate(-50px,0);
        opacity: 0;
        transition: 0.5s;
    }
    #Premium.on  figure:nth-child(1){
        transform: translate(0,0);
        opacity: 1;    
        transition: 0.3s;
    }

    #Premium  figure:nth-child(2){
        transform: translate(0,-50px);
        opacity: 1;
    }
    #Premium.on  figure:nth-child(2){
        transform: translate(0,0);
        opacity: 1;    
        transition: 0.3s 0.3s;
    }
    #Premium  figure:nth-child(3){
        transform: translate(0,0);
        opacity: 1;
    }
    #Premium.on  figure:nth-child(3){
        transform: translate(0,0);
        opacity: 1;    
        transition: 0.3s 0.9s;
    }

    #Premium  figure:nth-child(4){
        transform: translate(0,0);
        opacity: 1;
    }
    #Premium.on  figure:nth-child(4){
        transform: translate(0,0);
        opacity: 1;    
        transition: 0.3s 0.6s;
    }
    #Customer{
        padding: 100px 0 100px 0;
        background: url(../img/bg_main2.jpg) no-repeat -200px center / cover;
        color: #fff;
        text-align: center;
    }

    #Customer h2{
        font-size:4vw;
        font-weight: 700;
        margin-bottom: 40px;
        line-height: 1.2;
        padding: 0 15px;
    }

    #Customer h3{
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    #Customer p {
        font-size: 14px;
    }

    #Customer .container {
        flex-direction: column;
        gap: 50px;
    }

    #Customer .container>div {
        position: relative;
        flex: 1;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    #Customer .container>div a::after {
        content: "\e907";
        font-family: xeicon !important;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        padding: 20px;
        border: 3px solid #deb887;
        background: #fff;
        color: #333;
        border-radius: 50%;
        transition: 0.5s;
    }

    #Customer .container>div:hover a::after {
        content: "\e905";
        border: 3px solid #deb887;
        background: #deb887;
        color: #fff;
        border-radius: 5px;
    }

    #Customer .container a {
        display: block;
        padding: 100px 30px;
    }

    #Footer{
        padding: 60px 0;
        text-align: center;
        font-size: 13px;
        line-height: 1.45;
    }

    #Footer ul>li{
        display: inline-block;
    }

    #Footer address{
        font-style: normal;
        display: inline-block;
    }

    #Footer ul>li~li::before{
        content: "";
        display: block;
        width: 0;
        height: 0;
        background: transparent;
        margin: 0 5px;
    }

    .to_top{
        position: fixed;
        bottom: 30px;
        right: 30px;
        padding: 15px;
        background: #333;
        color:#fff;
        font-size: 20;
        border-radius: 50%;
        cursor: pointer;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .to_top.on{
        visibility: visible;
        opacity: 1;
    }

    .mopen{
        display: block;
        position: fixed;
        top: 30px;
        right:30px;
        z-index: 9999;
        font-size: 0;
        width: 30px;
        height: 30px;
        background: #ddd;
    }
    .mopen button{
        border: none;
        outline: none;
        background: transparent;
    }

    .mopen::before,
    .mopen::after{
        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background: #333;
    }
    .mopen::before{
        top: 7px;
    }

    .mopen::after{
        bottom: 7px;
    }


    .mopen button::before,
    .mopen button::after{
        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background: #333;
        top : calc(50% - 1);
    }

    .mopen.on::before,
    .mopen.on::after{
        opacity: 0;
    }


    .mopen.on button::before{
        transform: rotate(45deg);
    }
    .mopen.on button::after{
        transform: rotate(-45deg);
    }
}