h1 {
    line-height: 100px;
    background: #FFB0D9;
}
h2 {
    font-size: 40px;
    text-align: center;    
    font-weight: bold;
    line-height: 100px;
    background: #D2D2FF;
}

nav {
    line-height: 100px;
    background: #B4E5FF;
}

.right {
    line-height: 100px;
    background:#68D168;
}
div {
    line-height: 100px;
}

.header01 {
    display: flex;
}

.header02 {
    display: flex;
    justify-content: center;
}

.header03 {
    display: flex;
    justify-content: space-between;
}

.header04 {
    display: flex;
    justify-content: space-between;
}

.header05 {
    display: flex;
}

.header05 nav {
    margin: 0 0 0 auto;
}



.header06 {
    display: flex;
    justify-content: flex-start;
}
.a{
    background:#FF5675 ;
}
.b{
    background:#FFA374 ;
}
.c{
    font-size: 25px;
    font-weight: bold;
}
.d{
    background:#FFDC3C ;
}
.e{
    background:#52E252 ;
}
.basic {
    line-height: 100px;
}

.header07{
    display: flex;
    justify-content: flex-end;

}
.header08{
    display: flex;
    justify-content:center;

}
.header09{
    display: flex;
    justify-content: space-around;

}
.header10{
    display: flex;
    justify-content: space-between;

}
.header11{
    display: flex;
    justify-content: space-evenly;

}


.basic .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.basic nav {
    margin: 0 0 0 auto;
}

.basic nav ul {
    display: flex;
    gap: 30px;
}

.basic .icon {
    margin: 0 0 0 30px;
}