* {
    box-sizing: border-box;
}

.box {
    margin: 30px auto;
    width: 600px;
    border: 1px solid #333;
    text-align: center;
}

.box01 {
    margin: 40px auto;
    background: #FAFAAA;
}

.box02 {
    padding: 30px;
    background:#B7A4EE;
}

.box03 {
    /* inline 인 strong 태그를 display: block를 써서 박스로 바꿈 */
    display: block;
    margin: 100px auto;
    padding: 100px 30px;
    background: 	#BCFF66;
}