body {
    margin: 0;
}

h1 {
    color:#1E82FF;
}
div{
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.box00 {
    width: 1200px;
    margin: 0 auto;
    background: #333;
    color: #fff;
}

.box01 {
    width: 50%;
    background: #f00;
}

.box02 {
    margin-left: 100px;
    width: 100%;
    background: #00f;
}

.box03 {
    margin-left: 100px;
    background: #0f0;
}