body {
    background: lightpink;
}

nav {
    position: fixed;
    top: 0;
    left: -500px;
    width: 500px;
    height: 100vh;
    background: lightcoral;
    transition: .5s;
}

nav li {    
    color: white;
    margin-bottom: 15px;
}

nav.oo {
    left: 0;
}

.mopen {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: lavenderblush;
    cursor: pointer;
}

.mopen span {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 3px;
    background: #333;
    transition: .5s;
}


.mopen span:nth-child(1) {
    top: 8px;
}

.mopen span:nth-child(2),
.mopen span:nth-child(3) {
    top: 13.5px;
}

.mopen span:nth-child(4) {
    top: 20px;
}

.mopen.oo span:first-child,
.mopen.oo span:last-child {
    /*display: none; 애니메이션이 안됨 */
    opacity: 0;
}

.mopen.oo span:nth-child(2) {
    transform: rotate(45deg);
}

.mopen.oo span:nth-child(3) {
    transform: rotate(-45deg);
}

.mopen span:nth-child(4) {
    top: 20px;
}

/* 
.mopen span:nth-child(1) {
    top: 8px;
}

.mopen.oo span:nth-child(1) {
    /*display: none; 애니메이션이 안됨 */
/*opacity: 0; 

.mopen span:nth-child(2) {
    top: 13.5px;
}

.mopen.oo span:nth-child(2) {
    transform: rotate(45deg);
}

.mopen span:nth-child(3) {
    top: 13.5px;
}

.mopen.oo span:nth-child(3) {
    transform: rotate(-45deg);
}

.mopen span:nth-child(4) {
    top: 20px;
}

.mopen.oo span:nth-child(4) {
    /*display: none; 애니메이션이 안됨 */
/*opacity: 0; 
}

 */