@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

#event{
    padding: 100px 0;
    text-align: center;
}

#event i {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

#event h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0px;
}

#event h2::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgb(246, 82, 118);
    margin: 0 10px;
    vertical-align: middle;
}

#event h2::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgb(246, 82, 118);
    margin: 0 10px;
    vertical-align: middle;
}

/* #event h2::after {
    content: "";
    display: block;
    width: 1px;
    height: 50px;
    background: rgb(246, 139, 82);
    margin: 20px auto;
} */

#event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0px;
    line-height: 1.4;
}

#event .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

#event img {
    max-width: 100%;
    /* 부모에 상속받은 값1200px의 100% */
    transition: 0.5s;

}

#event figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}

#event .container figure:hover img {
    transform: scale(2);
}

#event figure a {
    position: absolute;
    top: -40px;
    right: 0;
    padding: 10px 30px;
    background: #333;
    color: #fff;
    transition: 0.5s;
}

#event figure:hover a {
    top: 0;
}







#self{
    padding: 100px 0;
    text-align: center;
}


#self h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0px;
}
#self h2::after {
    content: "";
    display: block;
    width: 1px;
    height: 50px;
    background: rgb(246, 139, 82);
    margin: 20px auto;
} 

#self p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0px;
    line-height: 1.4;
}
#self p::after {
    content: "";
    display: block;
    width: 1px;
    height: 50px;
    background: rgb(246, 139, 82);
    margin: 20px auto;
} 

#self .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

#self img {
    max-width: 100%;
    /* 부모에 상속받은 값1200px의 100% */
    transition: 0.5s;

}

#self figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}

#self .container figure:hover img {
    transform: scale(1.5);
}

#self figure a {
    position: absolute;
    bottom: -40px;
    right: 0;
    padding: 10px 30px;
    background: #333;
    color: #fff;
    transition: 0.5s;
}
#self figure:hover a {
    bottom: 0;
}
