.Gnb{
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 999;
}

.Gnb li{
    width: 50px;

}

.Gnb li a{
    position: relative;
    display: block;
    font-size: 0;
    height: 15px;
}

.Gnb li a::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: 1px;
    background: #333;

}

.Gnb li.on a::after{
    width: 100%;
}

.this_bg{
    width: 100px;
    height: 100px;
    background: #f00 url(./assets/images/num.png);
    border-radius: 50%;
    transition: 0.5s;
}

.this_pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.this_pic img{
    transition: 0.5s;
}

.this_tp{
    width: 200px;
    height: 200px;
    background: #f00 url(./assets/images/lesedilarona01.jpg) no-repeat center center / cover;
    border-radius: 50%;
    transition: 0.5s;
}