.content {
    padding: 100px 0;
}

.content .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;

}

.content .container figure {
    flex: 1;

}

.content img {
    width: 100%;
    margin: 0 0 20px 0;
}

.content strong {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.content p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.25;
}