html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

.case {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    z-index: 13;

    p {
        white-space: pre;
    }
}

@keyframes move_wave{
        0%{transform:translateX(0) translateZ(0) scaleY(0.7)}
        50%{transform:translateX(-25%) translateZ(0) scaleY(0.55)}
        100%{transform:translateX(-50%) translateZ(0) scaleY(0.7)}
}
.Wrapper{
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    .innerWrapper{
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 100%;
        bottom: -1px;
        
        .wave{    
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200%;
            height: 60%;
            background-repeat: repeat no-repeat;
            background-position: 0 bottom;
            transform-origin: center bottom;
        }        
        .top,
        .rTop{
            background-image: url(../../public/img/wave-top.png);
            background-size: 50% 400px;
            animation:move-wave 3s;animation-delay:1s
        }
        .rTop{
            background-image: url(../../public/img/wave-top-m.png);
        }
        .middle,
        .rMiddle{
            background-image: url(../../public/img/wave-mid.png);
            background-size: 60% 520px;
            animation:move_wave 15s linear infinite;
        }  
        .rMiddle{
            background-image: url(../../public/img/wave-top-m.png);
        }
        .bottom,
        .rBottom{
            background-image: url(../../public/img/wave-bot.png);
            background-size: 50% 600px;
            animation:move_wave 20s linear infinite;
        }        
        .rBottom{
            background-image: url(../../public/img/wave-top-m.png);
        }
    }
    .bgTop{
            z-index: 12;
            opacity: 0.3;
           /*  opacity: 0.5; */
        }
    .bgMiddle{
        z-index: 10;
        opacity: 0.4;
        /* opacity: 0.75; */
    }
    .bgBottom{
        z-index: 5;
        opacity: 0.5;
    }
}

.PF{
    /* .num{
        position: fixed;
        bottom: 10rem;
        right: 5rem;
        z-index: 999;
    } */

    .btn{
        position: fixed;
        top: 3rem;
        right: 3rem;
        transform: translateX(-100%);
        z-index: 1000;
        font-size: 0;
        height: 3rem;
        width: 4rem;
        border: none;
        background: #f9f9f9;

        &::before {
            content: "";
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 3px;
            background: #333;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: #333;
        }

        &.on::before {
            display: none;
        }

        &.on::after {
            display: none;
        }

        span::before,
        span::after{
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 0.5rem;
            right: 0.5rem;
            height: 3px;
            background: #333;
        }
        &.on span::before{
            transform: rotate(45deg);
        }
        &.on span::after{
            transform: rotate(-45deg);
        }
    }
    .Cover{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #4C86BC;
        color: #fff;
        z-index: 1000;
        height: 0;
        overflow: hidden;
        transition: 0.5s;

        &.on{
            height: 100vh;
        }
        .inCover{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; 
            /* border-radius: 91% 53% 100% 36% / 100% 52% 89% 39%; */
            max-width: 1200px;
            margin: 0 auto;
            background: wheat;
            width: 600px;
            height: 800px;
        }
        .menu{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #4C86BC;
            font-size: 45px;
            font-weight: 600;
            li{
                text-align: center;
                margin-bottom: 30px;
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
    }
    .gnb{
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        z-index: 999;
        ul{            
            display: flex;
            align-items: center;
            
            li~li{
                margin-left: 2rem;

            &.on a{
                color: 333;
                font-weight: 700;
                }
            }
        }
    }
}


.section{
    /*font-size: 20px;
     transition: 1s 1s; */
    /* &.active{
        font-size: 20px;
    } */
}

.main{
    position: relative;
    background: #f9f9f9;
    font-family: 'Noto Serif Display', serif;
    /* background: linear-gradient( to bottom, rgba(255,180,207,70.78%),rgba(247,200,255,100%),rgba(142,88,255,30%),rgba(114,128,255,50%)); */
    .case{
        flex-direction: column;
        .inner{
            width: 1650px;
        }
    }

    &.active{
        font-size: 20px;
    }
    .circle{
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        /* color: #64c764;
        font-size: 380px; */
        width: 500px;
        height: 500px;
        background: linear-gradient( to bottom, rgba(163,161,255,100%),rgba(201,235,255,80%));
        border-radius: 50%;
    }
    h1{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%,-50%);
        z-index: 999;
        color: #333;
        font-size: 100px;
        text-align: left;
        line-height: 130px;
        margin-bottom: 20px;
        font-weight: 600;
        letter-spacing: 2.5px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    p{       
        position: absolute;
        top: 52%;
        left: 41%;
        transform: translate(-50%, -50%);
        color: rgb(126, 42, 221);
        font-weight: 600;
        font-family: 'Noto Sans KR', sans-serif;
    }
}

.introduce{        
    position: relative;
    .back{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 1400px;
        height: 700px;
        border-radius: 36px;
        background: #ffffff;
        box-shadow:  40px 40px 65px #c7c7c7,
             -40px -40px 65px #ffffff;
        opacity: 0.7;
    }
}

.pf_main .case {
    /* justify-content: space-between; */
    
    .left{
        /* background:rgb(198, 213, 255) ; */
        height: 100vh; 
        padding: 100px 150px;
        width: 40%;        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       /* &::before{
        content: "";
        width: 120px;
        height: 100vh;
        border-bottom: 80px solid orange;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        } */

        .top{
            font-weight: 900;
            text-align: left;
            margin-bottom: 100px;

            h3{                            
                font-size: 100px;
                margin-bottom: 25px;
            }

            p{
                font-size: 100px;
                span{
                    font-size: 50px;
                }
            }
        }
        .bottom{

            .about{
                font-size: 15px;
                font-weight: 400;
            }
            .title{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 25px;
            }
            .about{
                li~li{
                    margin-bottom: 15px;
                }
            }
            .color{
                 display: flex;
                 ol{
                    display: flex;
                    gap: 5px;
                    height: 17px;
                    
                    li{
                        font-size: 0;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #ddd;
                        border-radius: 50%;

                        &:first-child{
                            margin-left: 5px;
                        }
                    }
                 }
            }
            .link {
                button{
                border: none;
                outline: none;
                padding: 7px 20px;
                box-shadow: 1px 2px 3px #666;
                border-radius: 10px;
                background: #fff;
                cursor: pointer;
                margin-top: 20px;
                }           
            }
        }
    }
    .right{
        position: relative;
        width: 60%;
        height: 100vh;
        .mockup{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            .pc{
                background: url(../../public/img/pc.png) no-repeat center top;
                width: 790px;
                height: 650px;
                padding: 65px 65px 65px 55px;
                margin: 0 auto;

                .pc_cover{
                    position: relative;
                    width: 100%;
                    height: 438px;
                    overflow: hidden;
                    img{
                        border: 0;
                        vertical-align: middle;
                        font-size: 0;
                        max-width: 100%
                    }
                }
            }
            .mobile{
                background: url(../../public/img/mobile.png) no-repeat center top; 
                position: absolute;
                bottom: 50px;
                left: -130px;
                width: 250px;
                height: 325px;
                padding: 34px 25px 29px 75px;
                /* transform: translateY(-100px);
                opacity: 0;
                transition: 1s 2s; */

                .mobile_cover{
                    position: relative;
                    width: 100%;
                    height: 283px;
                    overflow: hidden;
                    border-radius: 15px;

                    .mo_top{
                        position: absolute;
                        top: -2px;
                        left: 30px;
                        width: 91px;
                        height: 13px;
                    }
                }
            }
        }
    }
}



.profile .w1700{
    max-width: 1700px;
    margin: 0 auto;
}

.profile .w1700 p{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Noto Serif Display', serif;
}