/* outline: 1px solid #f00; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');



#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;    
    line-height: 70px;
    z-index: 99;
    background: #fff;
    color: #333;
}

#header .container {
    width: 1200px;
    margin: 0 auto;
}

#header nav {
    display: flex;
    justify-content: space-between;

}

#header nav>* {
    flex: 1;
    text-align: center;
}

#header h1{    
    width: 200px;
    height: 40px;
}

/* #header h1 img{
    width: 250px;
    height: 50px;
}  */
#header h1 a{
    font-size: 29px;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
}
 
#header nav>ul {
    display: flex;
    justify-content: space-between;
    flex: 1.2;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}


#header nav>ul a {
    display: block;
}










.mainVisual{
    position: relative;
}

.mainVisual .mainSlider figure{
    position: relative;
    height: 850px;
}

.mainVisual .mainSlider .itm01{
    background: url(../img/mainslide01.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm02{
    background: url(../img/mainslide02.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm03{
    background: url(../img/mainslide03.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm04{
    background: url(../img/mainslide04.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm05{
    background: url(../img/mainslide05.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    font-family: 'Source Serif 4', serif;
}

.mainVisual .mainSlider .inner p{
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #fff;
}

.mainVisual .mainSlider .inner a{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: underline;
}

.mainVisual .mainSlider figure p{
    transform: translateY(100px);
    opacity: 0;    
}

.mainVisual .mainSlider figure.on p{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s 0.4s;
}

.mainVisual .mainSlider figure a{
    transform: translateY(100px);
    opacity: 0;    
}

.mainVisual .mainSlider figure.on a{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s 0.8s;
}
/* .mainVisual .mainSlider .slick-dots{
    position: absolute;
    inset: auto auto 100px 50% ;
    transform: translateX(-50%);
}
.mainVisual .mainSlider .slick-dots li{
    display: inline-block;
}

.mainVisual .mainSlider .slick-dots button{
    outline: none;
    border:  none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    background: #ddd;
}
.mainVisual .mainSlider .slick-dots li.slick-active button{
    background: #333;
    color: #fff;
}
 */








.newArrival {
    padding: 100px 0 200px 0;
    text-align: center;
    background: url(../img/newarrival_bg.png) no-repeat center center / cover;
}
.newArrival h2{
    margin-bottom: 50px;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
}

.newArrival  .container{
    width: 1200px;
    margin: 0 auto;
}

.newArrival .productSlider{
    margin: 0;
}

.newArrival .productSlider a{
    display: block;
    padding:0 15px;
}

.newArrival .productSlider figure{
    position: relative;
    padding-bottom: 126.58%;
}

.newArrival .productSlider figure .txt{
    display: none;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100%;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}
.newArrival .productSlider figure .opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.newArrival .productSlider figure .txt p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}

.newArrival .productSlider figure .txt strong{
    font-size: 14px;
    font-weight: 300;
}
.newArrival .productSlider figure:hover .opacity{
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.newArrival .productSlider figure:hover .txt{
    display: block;
}
.newArrival .productSlider figure>img{
    position:absolute;
    width: 100%;
    height:100%;
}

.newArrival .productSlider .slick-dots{
    position: absolute;
    inset: auto auto -80px 50% ;
    transform: translateX(-50%);
    width: 1200px;
}
.newArrival .productSlider .slick-dots li{
    display: inline-block;
}

.newArrival .productSlider .slick-dots button{
    outline: none;
    border:  none;
    width: 200px;
    height: 3px;
    margin: 0;
    background: #ddd;
    font-size: 0;
}
.newArrival .productSlider .slick-dots li.slick-active button{
    background: #333;
    color: #fff;
}



.tab {
    position: relative;
    padding: 100px 0 250px 0;
    background: url(../img/bgbg.png);
}

.tab h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 27px;
    font-weight: 600;    
    font-family: 'Source Serif 4', serif;
}

.tab>.container {
    width: 1200px;
    margin: 0 auto;
}

.tab_menu {
    display: flex;
    margin-bottom: 80px;
}

.tab_menu>li {
    flex: 1;    
    font-size: 15px;
    font-weight: 300;
}

.tab_menu>li>a {
    display: block;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tab_menu>li.on a {
    background:rgb(241, 241, 241) ;
    color: #333;
}

.tab_content {
    position: relative;
    padding: 150px 0;    
}

.tab_content>li {
    position: absolute;
    inset: 0 0 0 0;
    visibility: hidden;
    padding: 10px 0;
}

.tab_content>li.on {
    visibility: visible;
}
.tab_content>li .product_slider{
    margin:0 -15px;
}
.tab_content>li .product_slider a{
    display:block;
    padding:0 15px;
}

.tab_content>li .product_slider figure{
    position:relative;
    padding-bottom:126.58%;
}

.tab_content>li .product_slider figure .txt{
    position: absolute;
    width: 100%;
    bottom: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    color:#fff;
    text-align: center;
    padding: 10px;
}
.tab_content>li .product_slider figure .txt p{
    margin-bottom: 10px;
}

.tab_content>li .product_slider figure:hover .txt{
    bottom: 0;
    transition: 0.3s;
}

.tab_content>li .product_slider figure > img{
    position:absolute;
    width: 100%;
    height:100%;
}
.tab_content .product_slider .no{
    display: none; 
}
.tab_content>li .product_slider a:hover .no{
    display: block;
    transition: 0.3s;
} 

.tabArrow i{
    position: absolute;
    inset: 65% auto auto 50%;
    transform: translate(-50%,-50%);
    color:#333;
    font-size: 50px;

}

.tabArrow i.on{
    color: rgba(0, 0, 0, 0.5);
}

.tabArrow i:nth-child(1){
    margin: 0 0 0 -700px;
}
.tabArrow i:nth-child(2){
    margin: 0 0 0 700px;
} 




.slick-slide {
    text-align: center;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
}

.etc{ 
    padding: 100px 0;
    border-bottom: 1px solid #ddd;
}
.etc h2{
    margin-bottom: 50px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    font-family: 'Source Serif 4', serif;
}
.etc .container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-wrap:wrap;
}

.etc .container .top{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.etc .container .top figure{
    position: relative;
}
.etc .container .top .inner{
    position: absolute;
    width: 100%;
    top: 40%;
    color: #fff;
    text-align: center;
}
.etc .container .top .inner p{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}
.etc .container .top .inner a{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    border: 1px solid #fff;
    padding: 13px 25px;
}
.etc .container .top .inner a:hover{
    background: #333;
    color: #fff;    
    border: 1px solid #333;
    transition: 0.3s;
}
.etc .container .bottom{
    display: flex;
    gap: 30px;

}

.etcSlide img{
    margin-bottom: 7px;

}
.etcSlide p{
    font-size: 13px;
    margin-bottom: 5px;
}

.etc .container .bottom .left .etc_t03{
    position: relative;
    width: 585px;
    height: 100px;
    background: rgb(241, 241, 241);
    margin-bottom: 10px;
}

.box_right{
    position: absolute;
    display: inline-block;
    border: 1px solid #333;
    padding: 12px 20px;
    top: 30%;
    right: 5%;
}

.box_right:hover{
    background: #333;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
}

.etc .container .bottom .left .etc_t03 p{
    position: absolute;
    width: 100%;
    text-align: left;
    top: 30px;
    left: 30px;
    font-size: 20px;
    font-weight: 500;
}

.etc .container .bottom .left .etc_t03 strong{
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: left;
    top: 60px;
    left: 30px;    
    font-size: 13px;
    font-weight: 300;
}

.etc .container .bottom .left .etc_b03{
    position: relative;
    width: 585px;
    height: 238px;
    background: rgb(241, 241, 241);
}

.etc .container .bottom .right {
    position: relative;
    width: 585px;
    margin-bottom: 10px;
}

.etcSlideArrow i{
    position: absolute;
    inset: 65% auto auto 50%;
    transform: translate(-50%,-50%);
    color:#333;
    font-size: 35px;
}

.etcSlideArrow i.on{
    color: rgba(0, 0, 0, 0.5);
}

.etcSlideArrow i:nth-child(1){
    margin: -50px 0 0 -270px;
}
.etcSlideArrow i:nth-child(2){
    margin: -50px 0 0 270px;
} 

.etcSlideRArrow i{
    position: absolute;
    inset: 65% auto auto 50%;
    transform: translate(-50%,-50%);
    color:#333;
    font-size: 35px;
}

.etcSlideRArrow i.on{
    color: rgba(0, 0, 0, 0.5);
}

.etcSlideRArrow i:nth-child(1){
    margin: -50px 0 0 -300px;
}
.etcSlideRArrow i:nth-child(2){
    margin: -50px 0 0 300px;
} 





.inStore{ 
    padding: 100px 0;
    background: rgb(255, 255, 250);
}
.inStore h2{
    margin-bottom: 50px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    font-family: 'Source Serif 4', serif;
}
.inStore .container{
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.inStore .container .tex{
    text-align: center;
}


.inStore .container img{
    margin-bottom: 15px;
    border-radius: 130px;
    border:1px solid rgb(177, 177, 177);
}

.inStore .container h3{
    font-size: 21px;
    font-weight: 700px;
    margin-bottom: 10px;
}

.inStore .container strong{
    display: inline-block;
    font-size: 13px;
    font-weight: 300px;
    margin-bottom: 5px;
}

.sc{
    overflow: hidden;
    margin-bottom: 15px;    
    
    border-radius: 130px;
}


.sc img {
    transition: 0.5s;
}

.sc:hover img {
    transform: scale(1.1);
}



/* 
.content figure .box {
    overflow: hidden;
    margin: 0 0 20px 0;
}

.content figure img {
    transition: 0.5s;
}

.content figure:hover img {
    transform: scale(1.5);
} */





#footer{
    background: #333;
    color: #777 ;
    padding: 20px 0;
}
#footer .container{
    width: 1200px;
    margin: 0 auto;
}

#footer .container h2{
    width: 300px;
    height: 50px;
    margin: 10px 0;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #777;
}
.footer_top ul{
    color: 777 ;
    display: flex;
    gap: 40px;
    margin: 15px 0;
}

.footer_top li:hover a{
    color: #fff;
}

.footer_top ul li{
    font-size: 15px;
    font-weight: 700;
}
.footer_top {
    margin-bottom: 15px;
}

.footer_bottom .in_top span{
    display: inline-block;
    font-size: 13x;
    margin-right:20px;
    margin-bottom: 10px;

}

.footer_bottom .in_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom .in_bottom p{
    font-size: 13px;
}

#footer .container .in_bottom a{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #777;
}

#footer .container .in_bottom .sns {
    display: flex;
    gap: 15px;
    text-align: center;
}
#footer .container .in_bottom .sns i{
    font-size: 22px;
    vertical-align: -12px;
    color: #ddd;
}

.toTop{
    display: none;
    position: fixed;
    inset: auto 50px 100px auto;
    /* z-index: 999; */
}
.toTop i{
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    cursor: pointer;
}
.toTop i p{
    font-size: 7px;
    padding: 0 5px 5px 5px;
}
