/* *{
    outline: 1 px solid #f00;
} 
 */
#header .container{    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 90px;
    background: #fff;
}

#header ul{
    display: flex;
    gap: 40px;
}
h2{
    max-width: 1200px;
    width: 100%;
    font-size: 31px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 50px;
    display:flex;
    align-items: center;   
    gap:15px; 
    margin: 0 auto 50px;
}

h2::after{
    content:"";
    flex: 1;
    height: 2px;
    background: #ddd;
}

.m__open {
    display: none;
}
@media (max-width:768px) {
    #header .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        right: 0;
        flex-direction: column;
        z-index: 3;
        border-bottom: 1px solid #ddd;
    }
    body{
        padding-top: 90px;
    } 
    .sub img{
        display: none;
    }

    h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h2::after {
        display: none;
    }

    .gnb {
        position: fixed;
        inset: 0 auto auto -100%;
        z-index: 4;
        background: #fff;
        width: calc(100% - 90px);
        height: 100vh;
        margin-left: 0;
        line-height: 40px;
        padding: 150px 30px 0 30px;
        border-right: 1px solid #333;
        transition: 0.5s;
    }
    .gnb.on {
        inset: 0 auto auto 0;
    }
    .gnb>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        color: #212529;
    }
    .gnb>ul>li {
        position: relative;
    }
    .gnb>ul>li>a {
        display: block;
    }
    .gnb>ul>li~li::before {
        content: "";
        position: absolute;
        inset: 50% auto auto -25px;
        display: none;
        width: 1px;
        height: 12px;
        background: #212529;
        transform: translateY(-50%);
    }
    .m__open {
        position: fixed;
        inset: 30px 30px auto auto;
        display: block;
        width: 30px;
        height: 30px;
        /* 높이꼭필요 */
        background: #333;
        border-radius: 0px;
        z-index: 1001;
    }
    .m__open span {
        position: absolute;
        inset: 0 0 0 0;
        height: 3px;
        background: #fff;
        transition: 0.5s;
    }
    .m__open span:nth-child(1) {
        inset: 5px 5px 0 5px;
    }
    .m__open span:nth-child(2) {
        inset: 13px 5px 0 5px;
    }
    .m__open span:nth-child(3) {
        inset: 13px 5px 0 5px;
    }
    .m__open span:nth-child(4) {
        inset: 21px 5px 0 5px;
    }
    .m__open.on span:nth-child(1) {
        opacity: 0;
        transform: translateX(200px);
    }
    .m__open.on span:nth-child(2) {
        transform: rotate(45deg);
    }
    .m__open.on span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .m__open.on span:nth-child(4) {
        opacity: 0;
        transform: translateX(-200px);
    }
}
/* -----------------------------------mainVisual시작----------------------------------- */
.mainVisual {
    position: relative;
}

.mainVisual .mainSlider figure {
    position: relative;
    height: 870px;
}

.mainVisual .mainSlider .itm01 {
    background: url(../img/mainvisual01.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm02 {
    background: url(../img/mainvisual02.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm03 {
    background: url(../img/mainvisual03.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm04 {
    background: url(../img/mainvisual04.png) no-repeat center center / cover;
}

.mainVisual .mainSlider .itm05 {
    background: url(../img/mainvisual05.png) no-repeat center center / cover;
}

.mainVisual .wheel{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 47px;
    border: 2px solid #fff;
    border-radius: 15px;
}
.mainVisual .wheel span{
    display: block;
    font-size: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 8px;
    background:#fff;
    border-radius: 2px;
    animation:  wheel 0.7s infinite ;
}

@keyframes wheel{
    0%{
        top: 7px;
    }
    50%{
        top: 12px;
    }
    100%{
        top: 7px;
    } 
}

.mainVisual .mainSlider .slick-dots{
    position: absolute;
    top: 20%;
    right: 50px;
    /* inset: auto 100px 70px auto ; */
    transform: translateX(-50%);
    width: 80px;
    text-align: center;
}
.mainVisual .mainSlider .slick-dots li{
    display: block;
    width: 100px;
    height: 100px;
    font-size: 15px;
    color: rgb(26, 26, 26);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    padding: 0 5px;
    margin-bottom: 10px;
}
.dot {
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(43px)
}

.mainVisual .mainSlider .slick-dots button {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    background: transparent;
}
@media(max-width:768px) {
    .mainVisual {
        position: relative;
    }

    .mainVisual .mainSlider figure {
        position: relative;
        height: calc(100vh - 300px);
    }
    .mainVisual .mainSlider .slick-dots li {
        display: none;
    }
    .mainVisual .wheel {
        width: 26px;
        height: 40px;
    }

    .mainVisual .wheel span {
        width: 2px;
        height: 6px;
        animation: wheel 0.7s infinite;
    }
}
/* -----------------------------------mainVisual끝----------------------------------- */

/* -----------------------------------shop시작----------------------------------- */
.shop{
    padding: 100px 0;  
}

.shop .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.shop figure{
    position: relative;
} 
.shop .txt{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000;
    /* padding: 15px; */
    text-align: center;
} 
.shop .txt p{
    font-size: 17px;
    margin-bottom: 10px;
}
.shop .txt strong {
    display: inline-block;
    font-size: 15px;
}
.tabMenu{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.tabMenu>li {
    font-size: 15px;
    font-weight: 300;    
}
.tabMenu>li>a {
    display: block;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    border-radius: 20px;
    background:rgb(241, 241, 241) ;
    color: #333;
}
.tabMenu>li.on a {
    background:#333 ;
    color: #ddd;
}
.shopContent li{
    display: none;
}
.shopContent li.on{
    display: block;
}
.product_page .top{
    display: flex;
    justify-content: space-between;
}

.product_page .bottom{
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {    
    .tabMenu {
        justify-content: center;
    }
    .product_page .top {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;       
    }
    .product_page .bottom {
        display: none;
    }
} 
/* -----------------------------------shop끝----------------------------------- */

/* -----------------------------------sofa시작----------------------------------- */
.sofa{
    padding: 100px 0 100px 0 ;
    background-color: #f7f7f7;

}
.sofa .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.sofa .container>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.after_second{
    margin-bottom: 100px;
}
.sofa .container div h3{
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000;
}
.sofa .container>div>.txt{
    padding: 20px 0;
}
.sofa .container div p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 14px;
}
.sofa .container div span{
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}
@media(max-width:768px) {
    .sofa .container>div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    .sofa .container div h3{
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 12px;
        color: #000;
    }
    .sofa .container>div{
        padding: 0 50px;
    }
    .Ink img{
        order: 1;
    }
    .Ink .txt{
        order: 2;
    }
    .Slash img{
        order: 1;
    }
    .Slash .txt{
        order: 2;
    }
    .sofa .container>div>.txt{
        padding:  20px 30px;
    }
    .sofa .container div p{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 14px;
    }
    .sofa .container div span{
        display: block;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 5px;
    }
   .aos-animate {
    display: block;
    transition: none;

    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

}
/* -----------------------------------sofa끝----------------------------------- */

/* -----------------------------------membership시작----------------------------------- */

.fixedBg {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../잭슨카멜레온/8d050c10684435a439556c5c55483cfd.jpg) no-repeat center center / cover ;
    text-shadow: 2px 1px 2px #000;
    filter: grayscale(0.75);
}
.fixedBg .title{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}

.fixedBg p{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 8px;
}

.fixedBg a{
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #fff;
    text-shadow: none;
    padding:  10px 20px;
}
@media(max-width:768px) {
    .fixedBg {
        filter: grayscale(0);
    }
}
/* -----------------------------------membership끝----------------------------------- */
/* -----------------------------------interior시작----------------------------------- */
.swiper{
    position: relative;
    overflow:hidden;
}
.interior {   
    position: relative;
    padding: 100px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.slide_box{
    display: flex;
    gap:50px;
}

.right{
    padding: 70px 0;
}
.right .tab_content li{
    display:none;
}
.right .tab_content li.on{
    display: block;
} 

.slide_box .left{
    position: relative;
}
.left .tab_menu li{    
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index:999;
    cursor: pointer;
    background: rgba(229, 255, 0, 0.842);
}
.left .tab_menu li span{
    display:block;
    font-size: 0; 
}
.all01 .left .tab_menu li:hover,
.all02 .left .tab_menu li:hover{
    transform: scale(1.5);
    transition: 0.3s;
}
.all01 .left .tab_menu li:nth-child(1){
    top: 80%;
    left: 15%;
}

.all01 .left .tab_menu li:nth-child(2){
    top: 90%;
    left: 53%;  
}

.all01 .left .tab_menu li:nth-child(3){
    top: 70%;
    left: 62%;  
}

.all02 .left .tab_menu li:nth-child(1){
    top: 69%;
    left: 20%;
}
.all02 .left .tab_menu li:nth-child(2){
    top: 89%;
    left: 55%;   
}
.all02 .left .tab_menu li:nth-child(3){
    top:76%;
    left: 89%;
}
.move{
    display: none;
}

.right .tab_content .mation{
    padding: 20px 0;
    text-align: center;
}
.mation .oj_name{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.mation .price {
    font-size: 17px;
    font-weight: 500;
}
.interior .button {
    position: absolute;
    inset: 54% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 50px;
    z-index: 999;
}

.swiper-button-next{
    
    right: -700px;
}

.swiper-button-prev{
    left: -700px;
}
@media (max-width:768px) {

.slide_box .left{
    position: relative; 
} 
.slide_box{
    gap:0;
}

.tab_content{
    display: none;
}

.tab_menu .active .span{
    position: relative;
}

.tab_menu .active .span:active div{
    display: block;
}

.move_first,
.move_second{
    display: none;
    position: absolute;
    width: 250%;
    top: -430%;
    left: 70%;
    background: #e8e8e8;
    text-align: center;
    border-radius: 20px;
}

.move_first img,
.move_second img{
    border-radius: 20px;
}
.move_first .product_name,
.move_second .product_name{    
    font-size: 9px;
    font-weight: 400;
    margin-bottom: 3px;
}

.move_first .product_price,
.move_second .product_price{     
    font-size: 9px;
    font-weight: 400;    
    padding-bottom: 10px;
}


/*
.right .tab_content li{
    display: block;
    position: absolute;
    width: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

 .all01 .right .tab_content li:nth-child(1){
    width: 10%;  
    top: 68%;
    left: 24%;
    
}
.all01 .right .tab_content li:nth-child(2){
    width: 10%;    
    top: 78%;
    left: 48%;
    
}
.all01 .right .tab_content li:nth-child(3){
    width: 10%;
    top: 57%;
    left: 71%;    
}

.all02 .right .tab_content li:nth-child(1){
    width: 10%;  
    top: 55%;
    left: 15%;
    
}
.all02 .right .tab_content li:nth-child(2){
    width: 10%;    
    top: 76%;
    left: 49%;
    
}
.all02 .right .tab_content li:nth-child(3){
    width: 10%;
    top: 62%;
    left: 83%;    
} 
.right .tab_content .mation{
    padding: 5px 0;
    text-align: center;
    background: #e8e8e8;
}
.mation .oj_name{
    font-size: 9px;
    font-weight: 400;
    margin-bottom: 3px;
}
.mation .price {
    font-size: 9px;
    font-weight: 400;
}
*/

.interior .button {
    transform: translate(0, 0);
}

}

/* -----------------------------------interior끝----------------------------------- */
/* -----------------------------------business시작----------------------------------- */
.business{
    position: relative;
    padding: 100px 0 100px 0;  
    margin: 0 auto;
    text-align: center;
    background: #f7f7f7;
}

.business figure {
    position: relative;
    padding: 50px 50px 0 50px;
    /* padding: 100px; */
    filter: grayscale(1);   
    opacity: 0.5; 
}

.project_slider .cover{
    padding: 50px 50px 0 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

}
.project_slider .cover p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.business figure.slick-center{
    filter: none;   
    opacity: 1;
}
/* .business figure.slick-center img{
    transform: translateY(-100px);
    transition: 1s;    
} */
.business p{
    position: absolute;
    width: 100%;
    left: 20px;
    bottom: 20px;
    font-size: 32px;
    color: #fff;
}
.slick-slide img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.businessArrow i{
    position: absolute;
    inset: 75% auto auto 50%;
    transform: translate(-50%,-50%);
    color:#333;
    font-size: 50px;
}

.businessArrow i:nth-child(1){
    margin: -200px 0 0 -700px;
}
.businessArrow i:nth-child(2){
    margin: -200px 0 0 700px;
} 
@media (max-width:768px){
    .business {
        padding: 70px 0 90px 0;
    }

    .business h2{
        margin: 0 auto 50px;
    }
    .business figure {
        padding: 20px 50px 0 50px;
        filter: grayscale(0);   
        opacity: 1; 
    }
    .business figure.slick-center img {
        transform: translateY(0);
        transition: 0;
    }
    .businessArrow i {
        transform: translate(0, 0);
    }

    .businessArrow i:nth-child(1) {
        margin: -125px 0 0 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        margin-left: 15px;
        font-size: 40px;
        border-radius: 15px;
        padding: 3px 5px 3px 3px;
    }
    .businessArrow i:nth-child(2) {
        margin: -125px 0 0 0;
        left: auto;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        margin-right: 15px;
        font-size: 40px;
        border-radius: 15px;
        padding: 3px 3px 3px 5px;
    }
}

/* -----------------------------------business끝----------------------------------- */


/* -----------------------------------review시작----------------------------------- */

.review{
    position: relative;
    padding: 100px 0;  
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.product_slide li a{
    display:flex;
    flex-wrap: wrap;
}
.product_slide li a img{
    width:33.33%;
}
.review .top{
    display: flex;
    /* justify-content: space-between; */
}
.review img{
    max-width:100%;
    flex:1;
}
.review .bottom{
    display: flex;
    /* justify-content: space-between; */
}
.reviewArrow i{
    position: absolute;
    inset: 65% auto auto 50%;
    transform: translate(-50%,-50%);
    color:#333;
    font-size: 50px;
}

.reviewArrow i:nth-child(1){
    margin: -100px 0 0 -700px;
}
.reviewArrow i:nth-child(2){
    margin: -100px 0 0 700px;
}  

@media (max-width:768px){
    .review .top{
        display: flex;
        justify-content: space-between;
    }
    .review .bottom{
        display: none;
    }
    .reviewArrow i{
        position: none;
    }
}
/* -----------------------------------review끝----------------------------------- */
/* -----------------------------------footer시작----------------------------------- */

#footer  {
    background: #333;
    color: #fff;
}

#footer  .container {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    line-height: 20px;
}

#footer .top {
    border-bottom: 1px solid #666;
    padding: 15px 0;
}

#footer .top ul {
    display: flex;
}

#footer  .top ul li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #ddd;
    margin: 0 13px;
}
#footer .bottom .in_top  p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 4px;
}

#footer  .sns i {
    font-size: 23px;
    padding: 13px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 0 0 3px;
    border-radius: 50%;
}

#footer .bottom{
    padding: 20px 0;
}

#footer .bottom .in_top p {
    font-size: 17px;
}

@media(max-width:768px) {

    #footer  {
        text-align: center;
    }

    #footer  h4 {
        padding: 15px 15px 0 15px;
    }

    #footer  h4 .img{
        display: block;
        text-align: center; 
    }

    #footer  .container {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
        line-height: 100px;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
        line-height: 1.5;
        font-size: 15px;
    }
    #footer .top {
        border-bottom: 1px solid #666;
        padding: 15px 0;
    }
    #footer  .top .container{
        display: flex;
    }

    #footer  .top ul {        
        display: flex;
        display: block;
        padding: 15px 0;
    }

    #footer  .top ul li {
        display: inline-block;
    }

    #footer  .container>* {
        padding: 0 15px;
    }


    #footer  .bottom {
    padding: 12px 0;
        text-align: left;
    }

    #footer  .bottom .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #footer  .bottom p {
        font-size: 13px;
        /* font-weight: 400; */
        font-weight: 300;
        margin-bottom: 15px;    }
     
    #footer  .top ul li~li::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 13px;
        background: #ddd;
        margin: 0 10px;
}
    #footer .bottom .in_top  p {
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 4px;
    }
    
    #footer  .sns i {
        font-size: 23px;
        padding: 13px;
        background: rgba(0, 0, 0, 0.5);
        margin: 0 0 0 3px;
        border-radius: 50%;
    }

}

/* -----------------------------------footer끝----------------------------------- */

